<div class="history">
    <div class="history__title">
        <h1>My work <span>history</span></h1>
    </div>
    <div class="history__story">
        <ul>
            <li>
                From the very beggining of my career, I was engaged in freelancing and tried tos solve typical tasks from different customers
            </li>

            <li>
                After winning the World Skills Russia programming competition, I was invited to work for an industrial company and there I got my first experience working with a huge team, developing and implementing software
            </li>
            <li>
                After I reached the limit of development at my first job, I decided to move on and look for new prospects for myself and passed the selection in Prof-IT Expert in Moscow after in Minsk
            </li>
        </ul>
    </div>
</div>

<div class="skills">
    <div class="skills_title">
        <h2>My <span>skills</span></h2>
    </div>
    <div class="skills_tree">
        <app-skill-tree></app-skill-tree>
    </div>
</div>