.page-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;  
    background-image: url('/assets/images/background.svg');
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
}

app-horizontal-menu {
    margin: 75px 220px 0px 0px;
}

app-social-networks {
    margin: 70px 210px 0px 0px;
}



