.page-container {     
    // background-image: url('/assets/images/background.svg');
    // background-size: cover;
    width: 1365px;
    margin: 0 auto;
}

.layout {
    background-image: url('./../../../assets/images/background.svg');
    min-height: 100vh;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

app-horizontal-menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


