.menu-container{
    display: flex;
    gap: 75px;
}

.menu-item a{
    text-decoration: none;
    font-size: 1.1em;
    color: var(--text-color-inactive);
    cursor: pointer;

    &:hover {
        color: var(--text-color-active);
        transition: var(--delay);
    }
    &.active {
        color: var(--text-color-active);
    }
}