<div class="menu-container">
    <div class="menu-item" >
        <a routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </div>
    <div class="menu-item">
        <a routerLink="/about-page" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
    </div>
    <div class="menu-item">
        <a routerLink="/cv-page" routerLinkActive="active" ariaCurrentWhenActive="page">Resume</a>
    </div>
    <div class="menu-item">
        <a routerLink="/blog-page" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a>
    </div>
    <div class="menu-item">
        <a routerLink="/contact-page" routerLinkActive="active" ariaCurrentWhenActive="page">Contacts</a>
    </div>
</div>