<div class="content-container">
    <div class="photo">
        <img src="./../../../assets/images/portrait.svg" alt="None image">
    </div>
    <div class="text">
        <div class="greeting">
            <h1>Hi I`m <span>Sergey</span></h1>
        </div>
        <div class="position">
            <p>Full-Stack Dot Net Developer</p>
        </div>
        <div class="quote">
            <h2>Incredibly eager
                to create something
                <span>revolutionary</span>
            </h2>
        </div>
    </div>  
</div>