.social-networks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

svg {
    cursor: pointer;
}

svg:hover path{
    fill: var(--text-color-active);
    transition: var(--delay);
}