.social-networks-container {
    display: flex;
}

.social-networks-facebook {
    margin-right: 25px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

path:hover {
    fill: white;
}

.social-networks-instagram {
    margin-right: 25px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}

.social-networks-linkedin {
    margin-right: 25px;
    width: 33px;
    height: 33px;
    cursor: pointer;
}